* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

i {
    font-style: normal;
}

.on {
    border: 1px solid red!important;
    color: red!important;
}

.focus {
    color: red!important;
}

.hot-sales {
    width: 100%;
}

.hotsale {
    width: 1200px;
    height: 150px;
    background-color: #f5f5f5;
    margin: 10px auto;
}

.hotsale::before {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.hotsale .hatsale-left {
    font-size: 16px;
    color: #fff;
    background: #f42424;
    float: left;
    padding: 27px 12px;
    width: 16px;
    height: 96px;
    overflow: hidden;
    font-family: "microsoft yahei";
}

.hotsale-right ul {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.hotsale-right ul li {
    width: 266px;
    height: 110px;
    background-color: #fff;
    border: 1px solid #fff;
}

.hotsale-right ul li:hover {
    border: 1px solid red;
}

.p-name a:hover {
    color: red;
}

.p-btn:hover {
    opacity: 0.8;
}

.hotsale-right .item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.hotsale-right .item .p-img {
    width: 90px;
    height: 90px;
}

.hotsale-right .item .p-img img {
    width: 100%;
}

.hotsale-right .item .p-img .p-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotsale-right .item .p-content .p-name {
    width: 146px;
    height: 35px;
    font-size: 12px;
    overflow: hidden;
}

a {
    color: gray;
}

.hotsale-right .item .p-price {
    color: #f42424;
    padding-top: 6px;
    font-size: 14px;
    font-weight: bold;
}

.hotsale-right .item .p-btn {
    width: 48px;
    height: 22px;
    margin-top: 6px;
    background-color: #f42424;
    padding: 0 10px;
    line-height: 23px;
    font-size: 12px;
    cursor: pointer;
}

.hotsale-right .item .p-btn a {
    color: #fff;
}

.active {
    border: 1px solid red!important;
    border-bottom: none!important;
}

.much {
    width: 1200px;
    height: 50px;
    margin: 0 auto;
}

.crumbs-nav {
    height: 25px;
    line-height: 25px;
    padding: 12px 0;
}

.crumbs-nav .yjt {
    float: left;
    font-size: 12px;
    display: none;
    margin-left: 5px;
    margin-top: 1px;
}

.crumbs-nav-item {
    float: left;
    padding: 0 10px;
    width: 122px;
    height: 23px;
    border: 1px solid #d2d2d2;
    cursor: pointer;
    font-size: 12px;
    position: relative;
    color: gray;
}

.crumbs-nav-item1 {
    float: left;
    padding: 0 10px;
    width: 65px;
    height: 23px;
    border: 1px solid #d2d2d2;
    cursor: pointer;
    font-size: 12px;
    position: relative;
    color: gray;
}

.crumbs-nav-item1 .trigger ul .middle {
    border-top: 1px solid red;
}

.crumbs-nav-item1 .trigger ul li {
    width: 85px;
}

.logo-middle ul li:hover {
    border: 1px solid red;
}

.logo-middle ul li:hover .detail {
    display: block;
    border: 1px solid red;
}

.xjt:hover {
    border: 1px solid red!important;
    color: red;
}

.multi-select:hover {
    border: 1px solid red!important;
    color: red!important;
}

.crumbs-nav-item1 span {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
}

.crumbs-nav-item span {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin-left: 2px;
}

.trigger {
    position: absolute;
    left: -1px;
    top: 25px;
    height: 30px;
    display: none;
    z-index: 1;
}

.trigger ul {
    display: flex;
    justify-content: space-around;
    margin-top: -2px;
}

.trigger ul li {
    width: 73px;
    height: 40px;
    line-height: 40px;
    text-indent: 1em;
    background-color: #fff;
}

.trigger ul li a:hover {
    color: red;
}

.trigger ul .left {
    border-left: 1px solid red;
    border-bottom: 1px solid red;
}

.trigger ul .right {
    width: 69px;
    border-top: 1px solid red;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
    margin-left: -3px;
}

.trigger ul .middle {
    border-bottom: 1px solid red;
}

.logo {
    margin: 0 auto;
    width: 1198px;
    height: 88px;
    border: 1px dashed gray;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.logo p {
    font-size: 12px;
    color: gray;
    margin: 20px 0 0 30px;
}

.logo-left {
    width: 120px;
}

.logo-middle {
    flex: 1;
}

.logo-right {
    position: relative;
    width: 250px;
}

.logo-right .xjt {
    text-align: center;
    line-height: 17px;
    position: absolute;
    right: 70px;
    top: 20px;
    width: 17px;
    height: 17px;
    border: 1px solid gray;
    cursor: pointer;
}

.logo-right .xjt span {
    font-size: 12px;
    font-weight: 600;
    margin-top: -10px;
}

.logo-right .multi-select {
    position: absolute;
    right: 10px;
    top: 20px;
    color: gray;
    font-size: 12px;
    text-align: center;
    line-height: 17px;
    width: 50px;
    height: 17px;
    border: 1px solid gray;
    cursor: pointer;
}

.logo-right .multi-select span {
    font-weight: 600;
}

.logo-middle ul {
    display: flex;
    margin-top: 20px;
}

.logo-middle ul li {
    width: 120px;
    height: 50px;
    border: 1px dashed gray;
    border-right: 1px solid transparent;
    position: relative;
    cursor: pointer;
}

.logo-middle ul .special {
    border-right: 1px dashed gray;
}

.logo-middle ul li img {
    width: 100%;
    height: 100%;
}

.logo-middle ul .chip img {
    width: 118px;
    height: 46px;
    margin-left: 1px;
    margin-top: 2px;
}

.logo-middle ul .detail {
    position: absolute;
    top: 2px;
    left: 1px;
    text-align: center;
    line-height: 44px;
    color: red;
    font-size: 12px;
    width: 116px;
    height: 44px;
    border: 1px solid red;
    background-color: #fff;
    display: none;
}

.logo-introduce {
    position: absolute;
    width: 900px;
    height: 140px;
    top: 0;
    left: 120px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    display: none;
}

.logo-introduce-top {
    height: 30px;
    margin-top: 5px;
}

.logo-introduce-top .words {
    flex: 1;
}

.logo-introduce-top .words ul .other {
    width: 40px;
}

.logo-introduce-top ul {
    width: 700px;
    display: flex;
    justify-content: space-around;
}

.logo-introduce-top ul li {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    color: #005ab5;
    border: 1px solid transparent;
    margin-left: 1px;
    margin-top: 2px;
    cursor: pointer;
}

.logo-introduce-top .other {
    width: 30px;
}

.logo-introduce-top .sdr {
    width: 60px;
}

.logo-introduce-center {
    height: 45px;
}

.logo-introduce-center ul {
    height: 40px;
    margin-top: 10px;
}

.logo-introduce-center ul li {
    width: 120px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #005ab5;
    cursor: pointer;
    position: relative;
    float: left;
}

.logo-introduce-center ul li:hover {
    color: red;
}

.logo-introduce-center ul li input {
    width: 15px;
    height: 15px;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 2px;
}

.logo-introduce-sole {
    height: 40px;
    position: relative;
}

.logo-introduce-sole .close {
    position: absolute;
    width: 50px;
    height: 25px;
    color: gray;
    text-align: center;
    line-height: 25px;
    border: 1px solid gray;
    left: 425px;
    bottom: 5px;
    font-size: 12px;
    cursor: pointer;
}

.numb-search {
    width: 1198px;
    height: 38px;
    border: 1px solid #ccc;
    margin: 10px auto;
    padding: 7px 0 6px;
    height: 25px;
    line-height: 25px;
}

.numb-search .numb-left {
    font-size: 12px;
    float: left;
}

.numb-search .numb-left a {
    float: left;
    display: block;
    padding: 0 20px;
    border-right: 1px solid #d2d2d2;
    color: #222;
}

.numb-search .numb-left a .iconfont {
    font-size: 12px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
}

.numb-search .numb-center {
    height: 25px;
    margin-left: 15px;
    float: left;
}

.numb-search .numb-center .price {
    float: left;
    padding-right: 15px;
    border-right: 1px solid #d2d2d2;
    position: relative;
}

.numb-search .numb-center .price .f-text {
    width: 58px;
    height: 23px;
    border: 1px solid #d2d2d2;
    outline: 0;
    padding: 0 5px;
    margin-top: -1px;
}

.numb-search .numb-center .price .expand {
    position: absolute;
    top: 26px;
    left: 0;
    width: 169px;
    height: 40px;
    background-color: #efeceb;
    border: 1px solid #ccc;
    display: none;
}

.numb-search .numb-center .price .expand a {
    display: inline-block;
    font-size: 12px;
    width: 40px;
    height: 20px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 20px;
    margin-top: 10px;
    margin-left: 27px;
}

.numb-search .numb-center .price .expand .l {
    background-color: white;
}

.numb-search .numb-center .price .expand .r {
    background-color: red;
    color: white;
}

.numb-search .numb-center .checkbox {
    float: left;
    margin-top: 2px;
}

.numb-search .numb-center .checkbox .checkbox_item {
    font-size: 12px;
    color: gray;
    float: left;
    padding-left: 19px;
    position: relative;
    margin-left: 10px;
}

.numb-search .numb-center .checkbox .checkbox_item input {
    position: absolute;
    left: 5px;
    top: 6px;
}

.numb-search .numb-right {
    float: right;
}

.numb-search .numb-right .button-page {
    float: left;
    margin-right: 28px;
}

.numb-search .numb-right .pageState {
    float: left;
    color: #8c8c8c;
    font-size: 12px;
}

.numb-search .numb-right .button-page a {
    display: block;
    float: left;
    width: 18px;
    height: 14px;
    line-height: 14px;
    border: 1px solid #d2d2d2;
    text-align: center;
    margin: 4.5px 0 0 5px;
    cursor: default;
}

.numb-search .numb-right .button-page a i {
    font-size: 12px;
}

.numb-search .numb-right .styles {
    font-size: 12px;
    float: left;
}

.numb-search .numb-right .styles li {
    float: left;
    padding: 0 8px 0 14px;
    border-left: 1px solid #d2d2d2;
}

.numb-search .numb-right .styles .current a {
    color: red;
}