*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.top{
    height: 140px;
}
ul,li{
    list-style: none;
}
.presale-nav{
    width: 100%;
    height: 40px;
    border-bottom:2px solid #f42424 ;
}
.presale-nav .presale-nav-content{
    width: 1200px;
    margin: auto;
    
}
.presale-nav .presale-nav-content a{
    width: 200px;
    display: inline-block;
    height: 40px;
    background-color: #f42424;
    color: white;
    text-align: center;
    font-size: large;
    line-height: 40px;
}
.presale-nav .presale-navmain{
    display: inline-block;
}
.presale-nav .presale-navmain a{
    display: inline-block;
    width: auto;
    margin-right: 30px;
    background: none;
    color: gray;
    font-size: 16px;
}
.font-red{
    color: #f42424!important;
}
.presale-nav .presale-navmain a:hover{
    color: #f42424;
}
.banner{
    position: relative;
    width: 100%;
    height: 380px;
}

.bannerwindow{
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 1903px;
    margin: auto;
}
.bannerwindow ul{
    width: 5709px;
    height: 100%;
    animation-play-state: paused;
    animation: bannermove 12s infinite;
    position: absolute;
}
/* .paused{
} */
    @keyframes bannermove {
        0%{
            left: 0;
        }
        30%{
            left: 0px;
        }
        35%{
            left: -1903px;
        }
        65%{
            left: -1903px;
        }
        70%{
            left: -3806px;
        }
        95%{
            left: -3806px;
        }
        100%{
            left: 0;
        }

        
    }
.bannerwindow ul li{
    width: 1903px;
    text-align: center;
    float: left;
}
.bannerwindow ul .bannerli1{
    background-color: #1FC18A;

}.bannerwindow ul .bannerli2{
    background-color: #353535;

}.bannerwindow ul .bannerli3{
    background-color: #483D69;

}
.bannerspots{
    width: 46px;
    height: 12px;
    padding: 4px 8px;
    margin: auto;
    position: relative;
    bottom: -330px;
    z-index: 10;
    border-radius: 10px;
    background-color: #fff;
    opacity: 0.5;
}
.littlespots{
    margin-right: 3px;
    border-radius: 50%;
    background-color: red;
    width: 12px;
    opacity: 0;
    position: relative;
    height: 12px;
    float: left;
}
.zhaoptitle{
    margin: 20px 0px;
    font-weight: 800;
    font-size: 25px;

}
.zhaopcontent{
    width: 1200px;
    margin: auto;
}
.zhaopcontent img{
    float: left;
}
.zhaopslide{
    width: 600px;
    height: 300px;
    overflow: hidden;
    float: left;
}

.bannernav{
    width: 200px;
    height: 380px;
    position: absolute;
    left: 352px;
    background-color: rgba(0, 0, 0,0.5);
    top: 0;
}
.bannernav ul li{
    width: 150px;
    height: 54px;
    position: relative;
    padding-left: 50px;
    line-height: 54px;
    font-size: 14px;
    color: white;
}
.bannernav ul li i{
    position: absolute;
    opacity: 1;
    width: 22px;
    height: 30px;
    display: block;
    background: url(../images/presale/pre-icon.png) no-repeat ;
    top: 10px;
    left: 25px;
}
.bannernav .icon1{
    background-position: -2px 7px;
}
.bannernav .icon2{
    background-position: -1px -50px;
}
.bannernav .icon3{
    background-position: -1px -102px;
}
.bannernav .icon4{
    background-position: -2px -159px;
}
.bannernav .icon5{
    background-position: -1px -211px;
}
.bannernav .icon6{
    background-position: -1px -266px;
}
.bannernav .icon7{
    background-position: -1px -322px;
}
.bannernav ul li:hover{
    background-color: black;
    color: red;
    cursor: pointer;
}



/* 下方轮播图 */
.slideshow {
    width: 3750px;
    height: 360px;
    position: absolute;
}

.slideshow>li {
    float: left;
}

.wicket {
    width: 600px;
    height: 300px;
    margin: auto;
    overflow: hidden;
    position: absolute;
    top: 0;
}

.dot {
    text-align: center;
    width: 66px;
    height: 20px;
    position: absolute;
    bottom: 23px;
    left: 270px;
}

.box {
    position: relative;
    width: 600px;
    margin: auto;
    height: 300px;
    background-color: pink;
}

.active {
    float: left;
    width: 10px;
    height: 10px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 2.5px 3.5px;
}

.pitch {
    background-color: gray;
}

.prev {
    width: 30px;
    height: 50px;
    background-color: rgba(0, 0, 0);
    position: absolute;
    opacity: 0.3;
    top: 40%;
    font-size: 30px;
    color: #fff;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    display: none;
}

.next {
    width: 30px;
    height: 50px;
    background-color: rgba(0, 0, 0);
    position: absolute;
    opacity: 0.3;
    top: 40%;
    right: 0;
    font-size: 30px;
    color: #fff;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    display: none;
}
.pointer:hover{
    opacity: 0.7;
}