@font-face {
  font-family: "iconfont"; /* Project id 3347883 */
  src: url('iconfont.woff2?t=1650528759596') format('woff2'),
       url('iconfont.woff?t=1650528759596') format('woff'),
       url('iconfont.ttf?t=1650528759596') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanzhu:before {
  content: "\e613";
}

.icon-guanzhu-copy:before {
  content: "\e614";
}

